{% extends "base.html" %}

{% block content %}

  <div class="columns is-centered">
    <div class="column">

      <h1 class="title has-text-centered">{% block title %}Send Reset Password Instructions{% endblock %}</h1>

      <form 
        action="{{ url_for_security('forgot_password') }}" 
        method="post" 
        name="forgot_password_form"
      >

        {{ forgot_password_form.hidden_tag() }}

        <div class="field">
          <div class="label">{{ forgot_password_form.email.label }}</div>
          <div class="control">{{ forgot_password_form.email(class="input") }}</div>
          {% if forgot_password_form.email.errors %}
            {% for error in forgot_password_form.email.errors %}
              <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>

        {% if forgot_password_form.csrf_token.errors %}
          {% for error in forgot_password_form.csrf_token.errors %}
            <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        {% endif %}

        <hr />

        <div class="field">
          <div class="control">
            {{ forgot_password_form.submit(class="button is-primary is-fullwidth") }}
          </div>
        </div>

      </form>
      
    </div>
  </div>
  
  {% include "security/_menu.html" %}
{% endblock content %}