{% extends "base.html" %}

{% block content %}

  <div class="columns is-centered">
    <div class="column">

      <h1 class="title has-text-centered">{% block title %}Resend confirmation instructions{% endblock %}</h1>

      <form 
        action="{{ url_for_security('send_confirmation') }}" 
        method="post" 
        name="send_confirmation_form"
      >
        
        {{ send_confirmation_form.hidden_tag() }}

        <div class="field">
          <div class="label">{{ send_confirmation_form.email.label }}</div>
          <div class="control">{{ send_confirmation_form.email(class="input") }}</div>
          {% if send_confirmation_form.email.errors %}
            {% for error in send_confirmation_form.email.errors %}
              <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>

        {% if send_confirmation_form.csrf_token.errors %}
          {% for error in send_confirmation_form.csrf_token.errors %}
            <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        {% endif %}

        <hr />

        <div class="field">
          <div class="control">
            {{ send_confirmation_form.submit(class="button is-primary is-fullwidth") }}
          </div>
        </div>

      </form>
      
    </div>
  </div>
  
  {% include "security/_menu.html" %}
{% endblock content %}