{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create Bucket{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>A bucket is a place to store a percentage of your net income. For example, you might state that you want 10% of your income saved towards holdays, so you would create a 'Holiday' bucket with a percent of 10.</p>

<label for="progress-bar">Total Bucket Percentage ( {{ total_bucket_percent }}   / 100 ) </label>
<progress id="progress-bar" class="progress is-primary" value="{{ total_bucket_percent }}" max="100">
  {{ total_bucket_percent }}%
</progress>

{% from "_formhelpers.html" import render_field %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <dl>
      {{ render_field(form.title) }}

      <div id="percent">
        {{ render_field(form.percent) }}  
      </div>
          
      {{ render_field(form.is_expense_bucket) }}
    </dl>
    
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary">
          Create
        </button>
        <a class="button" href="{{ url_for('budget.read', budget_id=budget_id) }}">
          Back
        </a>
      </div>
    </div>

  </form>

  <script>
    const expenseBucketCheckbox = document.getElementById('is_expense_bucket');
    const percentContainer = document.getElementById('percent');

    function togglePercentVisibility() {
      if (expenseBucketCheckbox.checked) {
        percentContainer.style.display = 'none';
      } else {
        percentContainer.style.display = 'block';
      }
    }

    expenseBucketCheckbox.addEventListener('change', togglePercentVisibility);

    togglePercentVisibility();
  </script>
{% endblock %}