{% extends 'base.html' %}

{% block header %}
  <h1 class="update-page-header">{% block title %}Edit Bucket: "{{ bucket.title }}"{% endblock %}</h1>
{% endblock %}

{% block content %}

  <label for="progress-bar">Total Bucket Percentage ( {{ total_bucket_percent }}   / 100 ) </label>
  <progress id="progress-bar" class="progress is-primary" value="{{ total_bucket_percent }}" max="100">
    {{ total_bucket_percent }}%
  </progress>

{% from "_formhelpers.html" import render_field %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <dl>
      {{ render_field(form.title) }}

      <div id="percent">
        {{ render_field(form.percent) }}  
      </div>
      
      {{ render_field(form.is_expense_bucket) }}
    </dl>
    
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary">
          Save
        </button>
        <a class="button" href="{{ url_for('budget.read', budget_id=budget_id) }}">
          Back
        </a>
      </div>
    </div>

  </form>

  <script>
    const expenseBucketCheckbox = document.getElementById('is_expense_bucket');
    const percentContainer = document.getElementById('percent');

    function togglePercentVisibility() {
      if (checkbox.checked) {
        percentContainer.style.display = 'none';
      } else {
        percentContainer.style.display = 'block';
      }
    }

    expenseBucketCheckbox.addEventListener('change', togglePercentVisibility);

    togglePercentVisibility();
  </script>
{% endblock %}