{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change Budget Ownership{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <dl>
            {{ render_field(form.members) }}
        </dl>
        <button type="submit" class="button is-primary">
          Save
        </button>
        <a class="button" href="{{ url_for('budget.view_budget_members', budget_id=budget.id) }}">
            Back
        </a>
    </form>
{% endblock %}