{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Budget{% endblock %}</h1>
{% endblock %}

{% block content %}
<button class="button">Upload JSON file</button>

<hr/>

<p>The frequency is how often you want your automatic payments to be budgeted for.</p>

  {% from "_formhelpers.html" import render_field %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <dl>
      {{ render_field(form.title) }}
      {{ render_field(form.frequency) }}
    </dl>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary">
          Create Budget
        </button>
        <a class="button" href="{{ url_for('budget.index') }}">
          Back
        </a>
      </div>
    </div>

  </form>

{% endblock %}