{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Budget{% endblock %}</h1>
{% endblock %}

{% block content %}
<button>Upload JSON file</button>
<hr/>

<h4>Budget Frequency</h4>
<p>This will tell be how often you put money into your buckets.</p>

  {% from "_formhelpers.html" import render_field %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <dl>
      {{ render_field(form.title) }}
      {{ render_field(form.frequency) }}
    </dl>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary">
          Create Budget
        </button>
      </div>
    </div>

  </form>

{% endblock %}