{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Budget{% endblock %}</h1>
{% endblock %}

{% block content %}
<button>Upload JSON file</button>
<hr/>

  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="frequency">Frequency</label>
    <select name="frequency" id="frequency">
      <option value="Weekly">Weekly</option>
      <option value="Fortnightly">Fortnightly</option>
      <option value="Four-Weekly">Four-Weekly</option>
      <option value="Yearly">Yearly</option>
    </select>
    <input type="submit" value="Save">
  </form>

<h2>Budget Frequency</h2>
<p>This will tell you how often to put money into your buckets.</p>
<p>This frequency should probably be in line with how often your pay is.</p>
<hr/>

<h2>Income</h2>
<p>Provide ability to add multiple income sources into the budget here.</p>
<p>Each item will have name, amount, and frequency</p>
<p>For example: work salary, side hustle</p>
<hr/>

<h2>Expenses</h2>
<p>Provide ability to add multiple expenses into the budget here.</p>
<p>Each item will have a name, amount, frequency, and can be grouped to form a 'bucket'.</p>
<p>For example: rent, phone, internet, power, travel</p>
<hr/>

<h2>Buckets</h2>
<p>Provide ability to add savings buckets. Buckets are akin to accounts. You might have an everyday use account, splurge account, savings account, and holiday account.</p>
<p>Each bucket will have a name, and percentage or amount (depends if the bucket is a savings/everday or expense bucket). This percentage will be the percent of net income that gets put into the bucket.</p>
<p>Buckets should always equal to 100% of the net income.</p>
<hr/>
{% endblock %}