{% extends 'base.html' %}

{% block header %}
  <h1 class="update-page-header">{% block title %}Edit Expense Item: "{{ expense_item.title }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <dl>
      {{ render_field(form.title) }}
      {{ render_field(form.amount) }}
      {{ render_field(form.frequency) }}
    </dl>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary">
          Save
        </button>
        <a class="button" href="{{ url_for('budget.read', budget_id=budget_id) }}">
          Back
        </a>
      </div>
    </div>

  </form>
{% endblock %}