{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ expense_item['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or expense_item['title'] }}" required>

    <label for="amount">Amount</label>
    <input name="amount" id="amount" type="number" value="{{ request.form['amount'] or expense_item['amount'] }}" required>

    <label for="frequency">Frequency</label>
    <select name="frequency" id="frequency" value="{{ request.form['frequency'] or expense_item['frequency'] }}">
      <option value="Weekly">Weekly</option>
      <option value="Fortnightly">Fortnightly</option>
      <option value="Four-Weekly">Four-Weekly</option>
      <option value="Yearly">Yearly</option>
    </select>

    <label for="expense_bucket">Is this an expense bucket?</label>
    <input name="expense_bucket" id="expense_bucket" type="checkbox">

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('budget.delete_expense_item', budget_id=budget_id, expense_item_id=expense_item['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete this expense item" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}