{% extends "base.html" %}

{% block content %}

<div class="columns is-centered">
    <div class="column">
        <h1 class="title has-text-centered">{% block title %}How it works{% endblock %}</h1>

        <h3>A budgeting technique from <em>The Barefoot Investor</em>, by Scott Pape</h3>
        <p>Bucket Budget is a tool to help you automate your budget and collaborate with others you might share your budget with.</p>

        <h5>The Barefoot Investor</h5>
        <p>You can check out the author's website for the book <a href="https://www.barefootinvestor.com/" target="_blank">here.</a> This website/calculator is just a tool to help you get up and running with your budget and to collaborate with others if need be. It is by no means an in-depth guide of what Scott Pape teaches through his book.</p>

        <div class="content">
            <h5>How Bucket Budget works</h5>
            <ol>
                <li>
                    <strong>Create:</strong> Create a budget and decide if you're budgeting weekly, fortnightly, four-weekly, monthly or yearly. 
                </li>
                <li>
                    <strong>Income:</strong> Enter your total take-home pay.
                </li>
                <li>
                    <strong>Expenses:</strong> Enter any expenses you have.
                </li>
                <li>
                    <strong>Buckets:</strong> Name your buckets and decide what percentage of your income should be allocated towards each bucket.
                </li>
                <li>
                    <strong>Not sure what buckets to create?</strong> Then use this template to start:
                    <ul>
                        <li><strong>Daily Expenses (60%):</strong> An everyday account used for groceries, travel, or any other non-negotiable expense.</li>
                        <li><strong>Splurge (10%):</strong> For fun things like coffee, online shopping, or a night out.</li>
                        <li><strong>Smile (10%):</strong> For long term savings goals like holidays, or even a PS5.</li>
                        <li><strong>Fire Extinguisher (20%):</strong> To put out a 'financial fire', like any debt.</li>
                    </ul>
                </li>
                <li><strong>Ensure your buckets total to 100%:</strong> Make sure that every piece of your income is mapped to a bucket so that you don't have money sitting in your bank account doing nothing.</li>
                <li><strong>Budget Result:</strong> Use the <strong> <em> budget result </em> </strong> calculated by Bucket Budget to set up automatic payments in your banking app so that you don't have to worry about your budget anymore!</li>
                <li><strong>Invite others:</strong> If you're saving with a friend, partner, or family-member, add them to the budget so they can view and collaborate on the budget with you.</li>
            </ol>

            <h5>Additional Information</h5>
            <ul>
                <li>Bucket Budget does not connect to your banking app or cost money. It is simply a tool that does the percentage based 'bucket calculations' for you.</li>
                <li>With Bucket Budget, you can mark expenses as 'expense buckets' if they're important and you would like to make sure you always have money for them. Have a monthly internet bill of $100 that you always want to make sure you can pay? Then mark it as an expense bucket.</li>
            </ul>

            <div class="notification is-info">
                <strong>Only mark expenses as a bucket if it requires its own account for saving. Every other expense item should just automatically flow out of your main spending account.</strong>
            </div>
            
        </div>

    </div>
</div>

{% endblock %}