{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Add Income Item{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>You might not have many income items, most people will only add one "income item" for their salary/wages.</p>

{% from "_formhelpers.html" import render_field %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <dl>
      {{ render_field(form.title) }}
      {{ render_field(form.amount) }}
      {{ render_field(form.frequency) }}
    </dl>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary">
          Create
        </button>
      </div>
    </div>

  </form>
{% endblock %}