{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ income_item['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or income_item['title'] }}" required>

    <label for="amount">Amount</label>
    <input name="amount" id="amount" type="number" value="{{ request.form['amount'] or income_item['amount'] }}" required>

    <label for="frequency">Frequency</label>
    <select name="frequency" id="frequency" value="{{ request.form['frequency'] or income_item['frequency'] }}">
      <option value="Weekly">Weekly</option>
      <option value="Fortnightly">Fortnightly</option>
      <option value="Four-Weekly">Four-Weekly</option>
      <option value="Monthly">Monthly</option>
      <option value="Yearly">Yearly</option>
    </select>

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('budget.delete_income_item', budget_id=budget_id, income_item_id=income_item['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete this income item" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}