{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ budget.title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<button>Download budget as JSON file</button>
<a href="{{ url_for('budget.view_budget_members', budget_id=budget.id) }}">View budget members</a>
<hr/>

<h2>Owner</h2>
<p>{{ budget.owner.username }}</p>

<h2>Invite Code</h2>
<code id="invite_code">{{ budget.invite_code }}</code> <span><button onclick="copyInviteCode()">Copy Code</button></span> 

<h2>Budget Frequency</h2>
<p>{{ budget.frequency }} - <a href="{{ budget.update_url }}">edit</a></p>
<hr/>

<h2>Income</h2>
<a href="{{ url_for('budget.create_income_item', budget_id=budget.id) }}">Add an income item</a>
{% if budget.income_items %}
    {% for item in budget.income_items %}
        <p><strong>{{ item.title }}</strong> | ${{ item.amount }} | {{ item.frequency }} - <a href="{{ url_for('budget.update_income_item', budget_id=budget.id, income_item_id=item['id']) }}">edit</a></p>
    {% endfor %}
{% else %}
    <p>No income items found.</p>
{% endif %}
<hr/>

<h2>Expenses</h2>
<a href="{{ url_for('budget.create_expense_item', budget_id=budget.id) }}">Add an expense item</a>
{% if budget.expense_items %}
    {% for item in budget.expense_items %}
        <p><strong>{{ item.title }}</strong> | ${{ item.amount }} | {{ item.frequency }} | Expense Bucket? {{ item.expense_bucket }} - <a href="{{ url_for('budget.update_expense_item', budget_id=budget.id, expense_item_id=item.id) }}">edit</a></p>
    {% endfor %}
{% else %}
    <p>No expense items found.</p>
{% endif %}
<hr/>

<h2>Buckets</h2>
<a href="{{ url_for('budget.create_bucket', budget_id=budget.id) }}">Add a bucket</a>
{% if budget.buckets %}
    {% for item in budget.buckets %}
        <p><strong>{{ item.title }}</strong> | {{ item.percent }}% of net income. - <a href="{{ url_for('budget.bucket_update', budget_id=budget.id, bucket_id=item.id) }}">edit</a></p>
    {% endfor %}
{% else %}
    <p>No buckets created yet.</p>
{% endif %}
<hr/>

<h2>Result</h2>
{% if result %}
        {% if result['all_income_buckets'] %}
            {% for item in result['all_income_buckets'] %}
            <h3>Bucket split for income item "{{ item['income_name'] }}"</h3>
            <h4>Total net income: {{ item['net_income'] }}</h4>
            <h4>Total expenses: {{ item['total_expenses'] }}</h4>
                {% for bucket in item["buckets"] %}
                    <table>
                        <tr>
                            <td>{{ bucket.title }} {{ bucket.percent }}</td>
                            <td>${{ bucket.amount }}</td>
                        </tr>
                    </table>
                {% endfor %}
            {% endfor %}
        {% endif %}
{% else %}
    <p>Could not produce result.</p>
{% endif %}
<hr/>

<script>

    function copyInviteCode() {
    var copyText = document.getElementById("invite_code");

    navigator.clipboard.writeText(copyText.innerHTML);

    alert("Copied the text: " + copyText.innerHTML);
}
</script>
{% endblock %}