{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Budget: "{{ budget.title }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
 {% from "_formhelpers.html" import render_field %}
  <form method="post">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <dl>
      {{ render_field(form.title) }}
      {{ render_field(form.frequency) }}
    </dl>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary">
          Save
        </button>
      </div>
    </div>

  </form>
  <hr>
  <form action="{{ url_for('budget.delete', budget_id=budget.id) }}" method="post">
    
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-danger" onclick="return confirm('Are you sure?');">
          Delete Budget
        </button>
      </div>
    </div>

  </form>
{% endblock %}