{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ budget['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
 {% from "_formhelpers.html" import render_field %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <dl>
      {{ render_field(form.title) }}
      {{ render_field(form.frequency) }}
    </dl>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('budget.delete', id=budget['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete this budget" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}