<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - BucketBudget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <h1><a href="{{ url_for('index') }}">BucketBudget</a></h1>
        <ul>
            {% if current_user.is_authenticated %}
                <li><span>{{ current_user.username }}</span></li>
                <li><a href="{{ url_for('security.logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('security.register') }}">Register</a></li>
                <li><a href="{{ url_for('security.login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <section class="content">
        <header class="page__header layout--flow">
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
</html>