<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - BucketBudget</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('index') }}">
                    <strong>BUCKET BUDGET</strong>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('index') }}">
                        Home
                    </a>
                    <a class="navbar-item" href="{{ url_for('budget.how_it_works') }}">
                        How it works
                    </a>
                </div>

                <div class="navbar-end">
                    {% if current_user.is_authenticated %}
                        <div class="navbar-item">
                            <a class="button is-ghost" href=" {{ url_for('auth.view_account', user_id=current_user.id) }}">Account</a>
                        </div>
                        <div class="navbar-item">
                            <a class="button is-danger" href="{{ url_for('security.logout') }}">
                                Log Out
                            </a>
                        </div>
                    {% else %}
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-primary" href="{{ url_for('security.register') }}">
                                    <strong>Sign up</strong>
                                </a>
                                <a class="button is-light" href="{{ url_for('security.login') }}">
                                    Login
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>        
    </nav>

    <section class="section expand-page">
        <div class="container is-max-tablet">
            <div class="content">
                <div class="columns is-multiline">

                    <div class="column is-full">
                        <header>
                            {% block header %}
                            {% endblock %}
                        </header>
                    </div>

                    <div class="column is-full">
                        {% for message in get_flashed_messages() %}
                            <div class="flash">
                                <div class="notification is-primary">
                                    {{ message }}
                                </div>                
                            </div>
                        {% endfor %}
                    </div>

                    <div class="column is-full">
                        {% block content %}
                        {% endblock %}
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Made by <a href="https://jakobfrederikson.github.io/site/" target="_blank">Jakob</a>
            </p>
        </div>
    </footer>

    <script>
        // https://bulma.io/documentation/components/navbar/
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

                });
            });
        });
    </script>
</body>
</html>